@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

:root {
  --mainwhite: #f0f0f0;
  --green1: #00ff2b;
  --green2: #00ffe6;
  --pink: #bf408a;
  --red: #e91c33;
  --blue: #829ceb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1f1f1f;
  font-family: "Roboto", sans-serif;
  color: var(--mainwhite);
}

nav {
  background-image: linear-gradient(80deg, #002080, #bf408a);
  position: fixed;
  width: 100%;
  max-height: 110px;
  display: flex;
  justify-content: flex-end;
  z-index: 1;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  margin-right: 6.5rem;
  padding: 0;
}

nav a {
  display: block;
  margin: 2rem 1.5rem;
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--main-white);
}
main {
  position: relative;
  top: 30px;
}

.box-container {
  display: grid;
  grid-template-columns: minmax(10rem, 40rem) auto;
  margin: 1rem 3rem 4rem 3rem;
}
.box-one {
  justify-self: center;
  align-items: center;
}
.box-two {
  display: grid;
  grid-template-rows: auto auto;
}
.box-three {
  align-self: center;
  color: var(--green2);
  font-style: italic;
}

.box-four {
  align-self: center;
}

.icon {
  display: inline-block;
  height: 80px;
  margin: 0 5px;
}

.box-two img:hover {
  transform: translateY(1rem);
  transition: transform ease-out 1s;
}

.box-two img:not(hover) {
  transform: translateY(0);
  transition: transform ease-out 0.4s;
}

.arrow {
  display: flex;
  justify-content: center;
}

/* --- arrow-down ---*/
.arrow-down {
  width: 2.5rem;
  height: auto;
}
.arrow-down:hover {
  transform: translateY(1.5rem);
  transition: transform ease-out 1s;
}

h1 {
  font-size: 10rem;
  color: var(--mainwhite);
}

h2 {
  font-size: 2rem;
  color: var(--mainwhite);
  padding-top: 2rem 0;
}
#welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

#welcome-section > p {
  font-size: 1.2rem;
  margin: 2rem 4rem;
  text-align: justify;
  font-weight: 600;
  color: var(--mainwhite);
}

/* --- projects --- */

#projects {
  padding-top: 100px;
  text-align: center;
  background-color: #111213;
}

.project {
  display: flex;
  flex-direction: column;
  background-color: #212121;
  padding: 1rem 2.5rem;
  border-radius: 5px;
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
    -11px -22px 23px 0px rgba(0, 0, 0, 0);
}

.project-title {
  font-size: 1.4rem;
  margin: auto 0.25rem;
  margin-bottom: 0.75rem;
  font-weight: 900;
}

.project img {
  height: 10rem;
  width: 17rem;
  object-fit: cover;
  margin: 0.5rem auto;
  border-radius: 5px;
}

#projects a {
  display: inline-block;
}

.project-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  margin-top: 0.5rem;
  font-size: 1.25rem;
}
.project-bottom img {
  height: 35px;
  width: auto;
}
.project-bottom i {
  font-size: 2rem;
  margin: auto 0.25rem;
}
.source_code {
  text-decoration: none;
  color: white;
}
.project:hover {
  color: var(--green2);
  transition: color 0.25s ease-in, border 0.25s ease-in;
}
.project:not(:hover) {
  color: white;
  text-decoration: none;
  transition: color 0.25s ease-in, border 0.25s ease-in;
}

.source_code:hover {
  cursor: pointer;
  border-bottom: var(--green2) solid 0.5px;
  transition: border-bottom 0.25s ease-in;
}

.source_code:not(:hover) {
  border-bottom: #212121 solid 0.5px;
  transition: border-bottom 0.25s ease-in;
}

.profile-link:hover {
  transition-duration: 0.5s;
  transition-property: transform;
  transition-timing-function: ease-in-out;
  transform: scale(1.05);
}

.profile-link:not(:hover) {
  transition-duration: 0.5s;
  transition-property: transform;
  transition-timing-function: ease-in-out;
  transform: scale(1);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 23rem);
  grid-gap: 2.75rem;
  padding: 2rem;
  margin: 0 3rem;
  border-radius: 2rem;
  justify-content: center;
  margin-bottom: 2rem;
}

/* arrow up - rotate*/
.arrow-up {
  transform: rotate(180deg);
  display: block;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

/* --- about me --- */
#about-me {
  padding-top: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-color: #111213;
  height: 100vh;
}

.about-me-container {
  width: 65%;
  background-color: #1f1f1f;
  border-radius: 10px;
  margin: 0 auto;
  padding: 2rem;
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
    -11px -22px 23px 0px rgba(0, 0, 0, 0);
}

#about-me h2 {
  font-size: 2rem;
  color: var(--blue);
  text-align: center;
}
#about-me p {
  font-size: 1.5rem;
  padding: 2rem 3rem;
  color: white;
  text-align: justify;
}

/* --- contact --- */
#contact {
  padding: 100px 0;
  text-align: center;
  width: 100%;
}

#contact h2 {
  font-size: 2.25rem;
  padding: 2rem;
  color: var(--green2);
}

.contact-links {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-links a {
  text-decoration: none;
  font-size: 2rem;
  padding: 1rem;
  color: white;
}
.contact-link-btn:hover {
  transform: translateY(5px);
  color: var(--blue);
  transition: transform ease-out 0.3s, color ease-out 0.3s;
}
.contact-link-btn:not(:hover) {
  transform: translateY(0px);
  color: white;
  transition: transform ease-out 0.3s, color ease-out 0.3s;
}

.contact-link-btn > i {
  padding: 0 0.5rem;
}

footer {
  border-width: 3px 0 0 0;
  border-image: linear-gradient(to right, red, purple) 1;
  padding: 2rem;
  font-size: 1.5rem;
  text-align: right;
}

footer i {
  vertical-align: middle;
}

@media (max-width: 475px) {
  .contact-links {
    flex-direction: column;
  }
  .contact-links a {
    font-size: 1.5rem;
    padding: 0.75rem;
  }
  nav a {
    font-size: 1.5rem;
    margin: 2rem 1rem;
  }
  h1 {
    font-size: 3rem;
  }
}
