@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

:root {
  --mainwhite: #f0f0f0;
  --green1: #00ff2b;
  --green2: #00ffe6;
  --pink: #bf408a;
  --red: #e91c33;
  --blue: #829ceb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--mainwhite);
  background-color: #1f1d1d;
}

.wrapper {
  max-width: 1650px;
  width: 100%;
  margin: 0 auto;
}

nav {
  background-image: linear-gradient(to right, #002080, #bf408a);
  position: fixed;
  max-width: 1650px;
  width: 100%;
  height: 95px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  z-index: 1;
  align-items: center;
  justify-content: center;
}

.hamburger {
  display: none;
}
section {
  max-width: 1650px;
  width: 100%;
  margin: 0 auto;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

nav ul {
  display: flex;
}

nav li {
  list-style: none;
}

nav > a,
nav ul {
  justify-self: center;
}
nav a {
  display: block;
  margin: 2rem 1.5rem;
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--main-white);
}

nav a:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

nav a:not(:hover) {
  transform: scale(1);
  transition: transform 0.3s ease-out;
}

/* --- video --- */

video {
  position: fixed;
  height: 100vh;
  top: 0;
  object-fit: fill;
  max-width: 1650px;
  width: 100vw;
  z-index: -1;
  opacity: 0.3;
}

main {
  position: relative;
  top: 95px;
}

/* --- welcome section --- */

#welcome-section {
  top: 95px;
  height: calc(100vh - 95px);
  width: 100%;
}

.box-container {
  height: calc(100vh - 200px);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
}
.box-one {
  text-align: center;
  padding: 0 1rem 0 3rem;
}
.box-two {
  padding: 0 1rem;
  display: grid;
  grid-template-rows: auto auto;
  row-gap: 1.5rem;
}

.box-three h2 {
  color: var(--green2);
  font-style: italic;
  font-size: 3rem;
  margin-top: 5rem;
  text-align: center;
  letter-spacing: 3px;
}

.box-four {
  margin-top: 1.5rem;
  display: grid;
  grid-template-columns: repeat(3, minmax(8rem, 10.5rem));
  justify-content: center;
  /* align-items: center; */
}
.icon {
  display: inline-block;
  height: 35px;
  margin-right: 6.125px;
}

.icon-description {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: solid white 1px;
  border-radius: 5px;
  margin: 7.5px;
  padding: 10px 5px;
}
.icon-description p {
  font-size: 1.125rem;
  font-weight: 900;
}

.icon-description:hover {
  transform: translateY(0.5rem);
  transition: transform ease-out 0.5s;
  cursor: pointer;
}

.icon-description:not(hover) {
  transform: translateY(0);
  transition: transform ease-out 0.3s;
}

/* --- arrow-down ---*/
.arrow-down {
  display: block;
  text-align: center;
}

.arrow {
  width: 2.5rem;
  height: auto;
}

.arrow:hover {
  transform: translateY(1.5rem);
  transition: transform ease-out 1s;
}

h1 {
  font-size: 10rem;
  color: var(--mainwhite);
  font-weight: 100;
}

h2 {
  font-size: 2rem;
  color: var(--mainwhite);
  padding-top: 2rem 0;
}

/* --- projects --- */

#projects {
  padding-top: 100px;
  text-align: center;
  background-color: #111213;
  width: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 22.5rem);
  grid-gap: 2.25rem;
  padding: 2rem;
  margin: 0 3rem;
  border-radius: 2rem;
  justify-content: center;
  margin-bottom: 2rem;
}

.project {
  display: flex;
  flex-direction: column;
  background-color: #212121;
  padding: 1rem 2.5rem;
  border-radius: 5px;
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
    -11px -22px 23px 0px rgba(0, 0, 0, 0);
}

.project-title {
  font-size: 1.4rem;
  margin: auto 0.25rem;
  margin-bottom: 0.75rem;
  font-weight: 900;
}

.project img {
  height: 10rem;
  width: 17rem;
  object-fit: cover;
  margin: 0.5rem auto;
  border-radius: 5px;
}

.project-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: white;
  margin-top: 0.5rem;
  font-size: 1.25rem;
}
.project-bottom img {
  height: 35px;
  width: auto;
}

.source_code {
  text-decoration: none;
  color: white;
}
.project:hover {
  color: var(--green2);
  transition: color 0.25s ease-in, border 0.25s ease-in;
}
.project:not(:hover) {
  color: white;
  text-decoration: none;
  transition: color 0.25s ease-in, border 0.25s ease-in;
}

.source_code:hover {
  cursor: pointer;
  border-bottom: var(--green2) solid 0.5px;
  transition: border-bottom 0.25s ease-in;
}

.source_code:not(:hover) {
  border-bottom: #212121 solid 0.5px;
  transition: border-bottom 0.25s ease-in;
}

.profile-link:hover {
  transition-duration: 0.5s;
  transition-property: transform;
  transition-timing-function: ease-in-out;
  transform: scale(1.05);
}

.profile-link:not(:hover) {
  transition-duration: 0.5s;
  transition-property: transform;
  transition-timing-function: ease-in-out;
  transform: scale(1);
}

/* --- arrow up - rotate --- */
.arrow-up {
  transform: rotate(180deg);
  display: block;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

/* --- about me --- */
#about-me {
  padding-top: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-color: #111213;
  height: 100vh;
}

.about-me-container {
  width: 70%;
  background-color: #1f1f1f;
  border-radius: 10px;
  margin: 0 auto;
  padding: 2rem;
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
    -11px -22px 23px 0px rgba(0, 0, 0, 0);
}

#about-me h2 {
  font-size: 2rem;
  color: var(--blue);
  text-align: center;
}
#about-me p {
  font-size: 1.5rem;
  padding: 2rem 3rem;
  color: white;
  text-align: justify;
}
#about-me .arrow-down {
  margin-top: 2rem;
  margin-bottom: 1rem;
}
/* --- contact --- */
#contact {
  padding: 100px 0;
  text-align: center;
  width: 100%;
  background-color: #1f1f1f;
}

#contact h2 {
  font-size: 2.25rem;
  padding: 2rem;
  color: var(--green2);
}

.contact-links {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-links a {
  text-decoration: none;
  font-size: 2rem;
  padding: 1rem;
  color: white;
}
.contact-link-btn:hover {
  transform: translateY(5px);
  color: var(--blue);
  transition: transform ease-out 0.3s, color ease-out 0.3s;
}
.contact-link-btn:not(:hover) {
  transform: translateY(0px);
  color: white;
  transition: transform ease-out 0.3s, color ease-out 0.3s;
}

.contact-link-btn > i {
  padding: 0 0.5rem;
}

footer {
  border-width: 3px 0 0 0;
  border-image: linear-gradient(to right, red, purple) 1;
  padding: 2rem;
  font-size: 1.5rem;
  border-style: solid;
  text-align: right;
  background-color: #1f1f1f;
  max-width: 1650px;
  margin: 0 auto;
}

footer i {
  vertical-align: middle;
}

@media (max-width: 1024px) {
  video {
    object-fit: cover;
  }
  nav {
    height: 100px;
    padding: 0 2rem;
    max-width: 100vw;
  }

  nav a {
    font-size: 1.75rem;
  }
  /* -- hamburger menu -- */
  .nav-menu {
    position: fixed;
    right: -100%;
    top: 95px;
    flex-direction: column;
    background-image: linear-gradient(to right, #002080, #bf408a);
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }
  .nav-menu.active {
    right: 0;
  }
  .nav-item {
    margin: 0.25rem 0;
  }
  .hamburger {
    display: block;
    cursor: pointer;
  }

  /* -- X animation -- */
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .box-container {
    grid-template-columns: none;
    grid-template-rows: 1fr 2fr;
  }

  .box-one {
    align-self: flex-end;
    padding-left: 1rem;
  }

  h1 {
    font-size: 6rem;
  }
  .box-two {
    width: 100vw;
  }
  .box-three h2 {
    font-size: 3rem;
    margin-top: 0;
  }

  .grid-container {
    grid-template-columns: repeat(auto-fill, 20rem);
    grid-gap: 1.25rem;
    margin: 0;
  }

  .project {
    padding: 10px 5px;
  }
  .project-title {
    font-size: 1.5rem;
    padding: 10px 0;
    margin-bottom: 0;
  }

  .project img {
    height: 11rem;
    width: 16rem;
    object-fit: cover;
    margin: 0.25 auto;
    border-radius: 7.5px;
  }

  .project-bottom {
    margin-top: 0;
    font-size: 1.25rem;
  }
  .project-bottom img {
    height: 30px;
    width: auto;
    margin: 0;
  }

  .about-me-container {
    width: 80%;
  }

  /* -- about me -- */
  #about-me {
    padding-top: 20px;
    display: block;
    height: 100vh;
    height: fit-content;
    padding-bottom: 1rem;
  }

  .about-me-container {
    width: 100%;
    border-radius: 0;
    margin: 0;
    padding: 5px;
    box-shadow: none;
  }

  #about-me h2 {
    font-size: 1.5rem;
    color: var(--blue);
    text-align: center;
    padding-top: 25px;
  }

  #about-me p {
    font-size: 1.25rem;
    padding: 1.5rem;
    text-align: center;
    line-height: 1.75rem;
  }

  /* --  contact -- */
  #contact {
    padding: 50px 0;
  }
  #contact h2 {
    font-size: 2.25rem;
    font-weight: 100;
  }

  footer {
    font-size: 1rem;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 4rem;
  }
  .box-three h2 {
    font-size: 1.75rem;
  }
  .box-four {
    margin-top: 0;
    grid-template-columns: repeat(auto-fit, minmax(5rem, 9rem));
  }
  .icon {
    height: 35px;
    margin-right: 5px;
  }

  .icon-description {
    margin: 5px;
    padding: 7.5px 5px;
  }

  .icon-description p {
    font-size: 1rem;
  }

  .contact-links a {
    font-size: 1.25rem;
    padding: 0;
    margin: 0.25rem;
  }
  .contact-links {
    padding: 0.5rem;
    justify-content: space-around;
  }
}

@media (max-width: 320px) {
  nav {
    height: 85px;
  }

  .nav-menu {
    top: 80px;
  }

  h1 {
    font-size: 3rem;
  }

  .box-three h2 {
    font-size: 1.5rem;
    margin-top: 0;
  }
  .box-four {
    grid-template-columns: repeat(2, 1fr);
  }

  .icon-description {
    margin: 5px;
    padding: 2.5px 5px;
  }
  .icon-description p {
    font-size: 0.75rem;
  }

  .icon {
    height: 30px;
  }
  /* -- projects -- */

  .grid-container {
    grid-template-columns: repeat(auto-fill, 16rem);
  }

  .project img {
    height: 10rem;
    width: 14rem;
  }

  .project-bottom img {
    height: 30px;
    width: auto;
  }

  /* -- about me -- */

  #contact h2 {
    font-size: 2rem;
  }
  .contact-links {
    padding: 1rem;
    flex-direction: column;
  }
}

@media (orientation: landscape) and (max-width: 1024px) {
  nav {
    max-height: 90px;
    grid-template-columns: 1fr 2fr;
  }

  .nav-menu {
    top: 90px;
  }

  .nav-link {
    margin: 0.5rem;
  }

  #welcome-section,
  #about-me {
    height: fit-content;
  }
  #welcome-section {
    padding: 20px 50px 50px 50px;
  }
  .box-one {
    margin-right: 0;
    text-align: center;
    width: 100%;
    padding-top: 50px;
  }
  .box-container {
    display: flex;
    flex-direction: column;
    height: fit-content;
  }

  h1 {
    font-size: 4rem;
  }
  .box-three h2 {
    margin: 25px 0px;
  }
}
