@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

:root {
  --mainwhite: #f0f0f0;
  --green: #00ffe6;
  --pink: #bf408a;
  --red: #e91c33;
  --blue: #829ceb;
  --dark-grey: #101010;
  --main-grey: #1f1f1f;
  --light-blue: #b4c3f0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--mainwhite);
  background-color: var(--main-grey);
}

.wrapper {
  max-width: 1650px;
  width: 100%;
  margin: 0 auto;
}

nav {
  background-image: linear-gradient(to right, #002080, #bf408a);
  position: fixed;
  max-width: 1650px;
  width: 100%;
  height: 85px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  z-index: 2;
  align-items: center;
  justify-content: center;
}

.hamburger {
  display: none;
}
section {
  max-width: 1650px;
  width: 100%;
  margin: 0 auto;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

nav ul {
  display: flex;
}

nav li {
  list-style: none;
}

nav > a,
nav ul {
  justify-self: center;
}
nav a {
  display: block;
  margin: 2rem 1.5rem;
  text-decoration: none;
  font-size: 1.25rem;
  color: var(--main-white);
}

nav a:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-out;
}

nav a:not(:hover) {
  transform: scale(1);
  transition: transform 0.3s ease-out;
}

/* --- video --- */

video {
  position: absolute;
  height: 120vh;
  top: 0;
  object-fit: fill;
  max-width: 1650px;
  width: 98vw;
  z-index: -3;
  opacity: 0.3;
}

main {
  position: relative;
  top: 85px;
}

/* --- welcome section --- */

#welcome-section {
  height: 100vh;
  width: 100%;
  text-align: center;
  position: relative;
  border-right: 25px solid var(--dark-grey);
  border-left: 25px solid var(--dark-grey);
  border-top: 25px solid var(--dark-grey);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

#welcome-section:after {
  background: var(--dark-grey);
  bottom: 0;
  content: "";
  display: block;
  height: 30%;
  left: 0px;
  position: absolute;
  right: 0px;
  transform: skewY(-3.5deg);
  transform-origin: 100%;
  z-index: -2;
}
.home-page {
  height: 60%;
}

.projects-button {
  width: 200px;
  font-size: 1rem;
  margin-top: 50px;
  border-radius: 5rem;
  border: none;
  padding: 20px;
  text-transform: uppercase;
  background-color: var(--light-blue);
  color: black;
}

.projects-button:hover {
  transform: scale(1.05);
  transition: transform ease-out 0.5s;
  cursor: pointer;
}

.projects-button:not(hover) {
  transform: scale(1);
  transition: transform ease-out 0.3s;
}

h1 {
  font-size: 5.75rem;
  color: var(--mainwhite);
  font-weight: 600;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin: 1rem;
}

#welcome-section h2 {
  color: var(--green);
  font-size: 2rem;
  text-transform: uppercase;
  margin-top: 10px;
  text-align: center;
  letter-spacing: 3px;
  margin: 1rem;
}
section h2 {
  color: var(--green);
  font-size: 1.75rem;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  margin: 0.5rem;
  margin-bottom: 20px;
}

#skills {
  background-color: var(--dark-grey);
  height: 40vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  z-index: 1;
  position: relative;
}

.icons {
  display: grid;
  grid-template-columns: repeat(3, minmax(8rem, 14rem));
  gap: 3.5px;
  justify-content: center;
}
.icon {
  display: inline-block;
  height: 45px;
  margin-right: 10px;
}

.icon-description {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 90px;
  border-radius: 5px;
  margin: 7.5px;
  padding: 10px 5px;
  background-color: var(--main-grey);
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
    -11px -22px 23px 0px rgba(0, 0, 0, 0);
}
.icon-description p {
  font-size: 1.5rem;
}

.icon-description:hover {
  transform: translateY(0.5rem);
  transition: transform ease-out 0.5s;
  cursor: pointer;
}

.icon-description:not(hover) {
  transform: translateY(0);
  transition: transform ease-out 0.3s;
}

/* --- arrow-down ---*/
.arrow-down {
  display: block;
  text-align: center;
  margin-top: 20px;
}

.arrow {
  width: 2.5rem;
  height: auto;
}

.arrow:hover {
  transform: translateY(1rem);
  transition: transform ease-out 1s;
}

/* --- projects --- */

#projects {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  background-color: #131212;

  width: 100%;
  position: relative;
  z-index: 1;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(325px, 375px));
  grid-gap: 30px;
  padding: 0.5rem;
  margin: 0 1rem;
  justify-content: center;
  margin-bottom: 2rem;
}

.project {
  display: flex;
  flex-direction: column;
  background-color: var(--main-grey);
  padding: 1rem 2.5rem;
  border-radius: 5px;
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
    -11px -22px 23px 0px rgba(0, 0, 0, 0);
}

.project-title {
  font-size: 1.4rem;
  margin: auto 0.25rem;
  margin-bottom: 0.75rem;
  font-weight: 900;
}

.project img {
  height: 10rem;
  width: 17rem;
  object-fit: cover;
  margin: 0.5rem auto;
  border-radius: 5px;
}

.project-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: white;
  margin-top: 0.5rem;
  font-size: 1.25rem;
}
.project-bottom img {
  height: 35px;
  width: auto;
}

.source_code {
  text-decoration: none;
  color: white;
}
.project:hover {
  color: var(--green);
  transition: color 0.25s ease-in, border 0.25s ease-in;
}
.project:not(:hover) {
  color: white;
  text-decoration: none;
  transition: color 0.25s ease-in, border 0.25s ease-in;
}

.source_code:hover {
  cursor: pointer;
  border-bottom: var(--green) solid 0.5px;
  transition: border-bottom 0.25s ease-in;
}

.source_code:not(:hover) {
  border-bottom: #212121 solid 0.5px;
  transition: border-bottom 0.25s ease-in;
}

.profile-link:hover {
  transition-duration: 0.5s;
  transition-property: transform;
  transition-timing-function: ease-in-out;
  transform: scale(1.05);
}

.profile-link:not(:hover) {
  transition-duration: 0.5s;
  transition-property: transform;
  transition-timing-function: ease-in-out;
  transform: scale(1);
}

/* --- arrow up - rotate --- */
.arrow-up {
  transform: rotate(180deg);
  display: block;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

/* --- about me --- */
#about-me {
  padding-top: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-color: var(--dark-grey);
  height: 100vh;
}

.about-me-container {
  width: 70%;
  z-index: 1;
  background-color: #1f1f1f;
  border-radius: 10px;
  margin: 0 auto;
  padding: 2rem;
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
    -11px -22px 23px 0px rgba(0, 0, 0, 0);
}

#about-me h3 {
  font-size: 1.75rem;
  color: var(--blue);
  text-align: center;
}
#about-me p {
  font-size: 1.3rem;
  padding: 2rem 3rem;
  color: white;
  text-align: justify;
  line-height: 2.125rem;
}
#about-me .arrow-down {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

/* --- contact --- */
#contact {
  padding: 100px 0;
  text-align: center;
  width: 100%;
  background-color: #1f1f1f;
}

.contact-links {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-links a {
  text-decoration: none;
  font-size: 2rem;
  padding: 1rem;
  color: var(--main-white);
}
.contact-link-btn:hover {
  transform: translateY(5px);
  transition: transform ease-in 0.3s;
}
.contact-link-btn:not(:hover) {
  transform: translateY(0px);
  transition: transform ease-out 0.3s;
}

.contact-link-btn > i {
  padding: 0 0.5rem;
}

footer {
  border-width: 3px 0 0 0;
  border-image: linear-gradient(to right, red, purple) 1;
  padding: 2rem;
  font-size: 1.5rem;
  border-style: solid;
  text-align: right;
  background-color: #1f1f1f;
  max-width: 1650px;
  margin: 0 auto;
}

footer i {
  vertical-align: middle;
}

@media (max-width: 1024px) {
  video {
    object-fit: cover;
  }
  nav {
    padding: 0 2rem;
    grid-template-columns: 1fr 3fr;
  }

  nav a {
    font-size: 1.25rem;
  }
  .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(300px, 325px));
  }
  .project {
    padding: 10px 5px;
  }
  .project-title {
    font-size: 1.5rem;
    padding: 10px 0;
    margin-bottom: 0;
  }

  .project img {
    height: 11rem;
    width: 16rem;
    object-fit: cover;
    margin: 0.25 auto;
    border-radius: 7.5px;
  }

  .project-bottom {
    margin-top: 0;
    font-size: 1.25rem;
  }
  .project-bottom img {
    height: 30px;
    width: auto;
    margin: 0;
  }

  .about-me-container {
    width: 80%;
  }

  /* -- about me -- */
  #about-me {
    padding-top: 0;
    display: block;
    height: fit-content;
    text-align: center;
  }

  .about-me-container {
    width: 100%;
    border-radius: 0;
    padding: 20px 5px;
    box-shadow: none;
  }

  #about-me p {
    font-size: 1rem;
    padding: 1.5rem;
    line-height: 1.75rem;
  }

  /* --  contact -- */
  #contact {
    padding: 50px 0;
  }

  footer {
    font-size: 1.25rem;
  }
}

@media (orientation: landscape) and (max-width: 1000px) {
  h1 {
    font-size: 3rem;
  }
  .home-page {
    height: fit-content;
  }
  #welcome-section {
    justify-content: flex-start;
  }

  #skills {
    height: fit-content;
  }
}

@media (max-width: 600px) {
  /* -- hamburger menu -- */
  .nav-menu {
    position: fixed;
    right: -100%;
    top: 95px;
    flex-direction: column;
    background-image: linear-gradient(to right, #002080, #bf408a);
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }
  .nav-menu.active {
    right: 0;
  }
  .nav-item {
    margin: 0.25rem 0;
    /* white-space: nowrap; */
  }
  .hamburger {
    display: block;
    cursor: pointer;
  }

  /* -- X animation -- */
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  #welcome-section {
    position: relative;
    border-right: none;
    border-left: none;
    border-top: none;
    height: 95vh;
  }

  h1 {
    font-size: 3.125rem;
  }

  #welcome-section h2 {
    font-size: 1.5rem;
  }

  section h2 {
    font-size: 1.25rem;
  }

  #skills {
    height: 40vh;
  }

  .icons {
    display: grid;
    grid-template-columns: repeat(2, minmax(8rem, 9.75rem));
    gap: 1.5px;
    justify-content: center;
  }
  .icon {
    height: 35px;
    margin-right: 5px;
  }

  .icon-description {
    height: 65px;
    margin: 5px;
    padding: 7.5px 5px;
  }
  .icon-description p {
    font-size: 1.125rem;
  }

  .contact-links a {
    font-size: 1.25rem;
    padding: 0;
    margin: 0.25rem;
  }
  .contact-links {
    padding: 0.5rem;
    justify-content: space-around;
  }
}

@media (max-width: 320px) {
  nav {
    height: 85px;
  }

  .nav-menu {
    top: 80px;
  }

  h1 {
    font-size: 2.75rem;
  }

  #welcome-section h2 {
    font-size: 1.25rem;
  }

  .icon-description {
    height: 55px;
    margin: 5px;
    padding: 5px 2.5px;
  }

  .icon-description p {
    font-size: 0.8125rem;
  }

  .icon {
    height: 30px;
  }
  /* -- projects -- */

  /* .grid-container {
    grid-template-columns: repeat(auto-fit, 300px);
  } */

  .project img {
    height: 10rem;
    width: 14rem;
  }

  .project-bottom img {
    height: 30px;
    width: auto;
  }
}

@media (max-width: 280px) {
  h1 {
    font-size: 2.5rem;
  }
  #about-me p {
    font-size: 0.8125rem;
  }
}
