.Display {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  display: flex;
  padding: 0.5rem;
  border-radius: 1rem;
  text-align: right;

  .topValues {
    font-size: 1.25rem;
    word-break: break-all;
    font-weight: 200;
  }

  .bottomValue {
    font-size: 3rem;
    font-weight: 300;
  }
}
